 .cardItem {
     width: 600px;
     background-color: #E8E8E8;
     
 }

 mat-grid-tile {
     background-color: #E9E9E9;
 }

 .imgName {
     width: 100%;
     text-align: left;
     padding-left: 20px;
 }

 .imgLink {
     padding-left: 20px;
     width: 380px;
     overflow-wrap: break-word;
     font-weight: bold;
 }

 .mainBody {
    background: linear-gradient(rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.733) 100%, rgb(0, 0, 0) 100%);
     height: fit-content;
     min-height: 100%;
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-items: center;
     /* justify-content: center; */
 }

 .cardCenter{
    display: flex;
    /* justify-items: center; */
    justify-content: center;
    margin-left: -30px;
 }


 /* round 2 */

 /* .mainBody{
    text-align: center;
    display:flex;
    justify-items: center;
    justify-content: center;
}
.cardItem {
    width: 100%;
    background-color: #E8E8E8;
    
  } */