


<div style="text-align: center;padding-top: 50px;">
  <h2 style="font-size: 100px;">Dota 2</h2><br>
  <h2 style="padding-top: 10px;"> Defense of the Ancients </h2>
</div>
<div class="mainBody">

  <div style="margin-top: 0px; padding-top: 5px;">


    <!-- <div class="caro">
      <carousel [width]="600">
        <div class="carousel-cell">
          <img src="https://cdn.cloudflare.steamstatic.com/apps/dota2/videos/dota_react/heroes/renders/drow_ranger.png">
        </div>
        <div class="carousel-cell">
          <img
            src="https://cdn.cloudflare.steamstatic.com/apps/dota2/videos/dota_react/heroes/renders/ember_spirit.png">
        </div>
        <div class="carousel-cell">
          <img src="https://cdn.cloudflare.steamstatic.com/apps/dota2/videos/dota_react/heroes/renders/windrunner.png">
        </div>
        <div class="carousel-cell">
          <img src="https://cdn.cloudflare.steamstatic.com/apps/dota2/videos/dota_react/heroes/renders/drow_ranger.png">
        </div>
        <div class="carousel-cell">
          <img
            src="https://cdn.cloudflare.steamstatic.com/apps/dota2/videos/dota_react/heroes/renders/ember_spirit.png">
        </div>
        <div class="carousel-cell">
          <img src="https://cdn.cloudflare.steamstatic.com/apps/dota2/videos/dota_react/heroes/renders/windrunner.png">
        </div>
      </carousel>
    </div> -->

    <br>
    <video style="margin-left: 10px;" width="50%" height="50%" autoplay="" preload="auto" loop="" playsinline="">
      <source type="video/webm"
        src="https://cdn.cloudflare.steamstatic.com/apps/dota2/videos/dota_react/homepage/dota_montage_webm.webm">
      <source type="video/mp4"
        src="https://cdn.cloudflare.steamstatic.com/apps/dota2/videos/dota_react/homepage/dota_montage_02.mp4">
    </video>
    <br><br>
    <div>

      <!-- #3row
      <mat-grid-list cols="6" rowHeight="2:2">
        <mat-grid-tile [rowspan]="4" [colspan]="2">1</mat-grid-tile>
        <mat-grid-tile [rowspan]="4" [colspan]="2">2</mat-grid-tile>
        <mat-grid-tile [rowspan]="4" [colspan]="2">3</mat-grid-tile>
      </mat-grid-list> -->

      <mat-form-field style="margin-left: 30px;">
        <mat-label>Name</mat-label>
        <input type="text" matInput placeholder="type heros name" [(ngModel)]="query">
      </mat-form-field>
      <!-- <input matInput type="text" placeholder="type something" [(ngModel)]="query"> -->
      <button mat-button (click)="search()">Search</button>
    </div>

    <ul class="listContainer">

      <mat-list-item *ngFor="let item of result;let i = index">
        <div class="cardCenter" *ngIf="item.name">
          <mat-card class="cardItem">
            <mat-grid-list cols="6" rowHeight="2:2">
              <mat-grid-tile [rowspan]="2" [colspan]="2">
                <img [src]="item.link" width="100%" height="100%">
              </mat-grid-tile>
              <mat-grid-tile [colspan]="4">
                <h1 class="imgName">{{item.name}}</h1>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="4">
                <u class="imgLink">{{item.link}}</u>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-card>
        </div>

        <br>
      </mat-list-item>
    </ul>
    <br>



  </div>
</div>

<!-- <video class="heropage_HeroPortrait_22nJ5" poster="https://cdn.cloudflare.steamstatic.com/apps/dota2/videos/dota_react/heroes/renders/antimage.png" autoplay="" preload="auto" loop="" playsinline=""><source type="video/webm" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/videos/dota_react/heroes/renders/antimage.webm"><img src="https://cdn.cloudflare.steamstatic.com/apps/dota2/videos/dota_react/heroes/renders/antimage.png"></video> -->